 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Proposal</h2>
                    <hr class="spacer">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A shared space for creators, designers, educators, and innovators to explore the future of local digital fabrication. A space connected to the international FabLab Network, importing and exporting information rather than products.</p>
                </div>
                <div class="col-lg-4">
                    <p>Join the conversation and lets build an open inclusive Fab Lab to propel Prague into the revolution of personal digital fabrication. </p>
                </div>
            </div>
        </div>
    </section>
