    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <img class="cover-image-scale" src="img/FabLabPrg_Logo-icon.svg" alt="Fab Lab Prague" >
                        <span class="name">Let's Start a Fab Lab</span>
                        <hr class="spacer">
                    </div>
                </div>
            </div>
        </div>
    </header>
